html {
  font-family: Arial, sans-serif;
  letter-spacing: -.4px;
}

article {
  border: 1px solid lightblue;
  width: 275px;
  margin: 10px;
  float: left;
}

#title {
  border: 1px dotted lightgray;
  text-align: center;
}

#image > img {
  width: 190px;
  margin: 5px 15%;
}

#description > p {
  text-align: justify;
  margin: 0 10px;

}

#availability > p {
  background-color: darkgray;
  padding: 5px;
  color: yellow;
  font-size: 14px;
}

.info {
  padding: 0 15px;
}

h3 {
  line-height: 0px;
  font-weight: 400;
}

.info > span > p {
  font-size: 12px;
  font-weight: 900;
  padding-left: 7px;
  line-height: 2px;
}

.info > footer {
  font-size: 10px;
  margin-left: -15px;
  margin-bottom: -7px;
}